$info-icon-size:2.4rem;
$title-color:$primery-text-color;
$current-day-color:$secondry-text-color ;
$description-color:$secondry-text-color;
.city-temprerature{

   &__title{
     color:$title-color;
     font-size:3.2rem;
     margin-top: 0;
   }
   &__corrent-day{
     color: $current-day-color;
     font-size: 2.4rem;
  }

}
.info{
  display: flex;
  align-items: center;
  padding:0.4rem ;
  &__icon{
    white:$info-icon-size;


  }
  &__description{
    font-size: 1.8rem;
    color: $description-color;
  }
}